@model IEnumerable<TeamComeback_V2.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Feedbacks</h2>
@if (Request.IsAuthenticated && User.IsInRole("Member"))
{
    <p>
        <a href="/TeamComeback_V2/Feedback/Create/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;Add Comment</a>
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answer) <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm fa fa-trash" })
            </td>
        }
    </tr>
        }
    </table>
