@model TeamComeback_V2.Models.Registar


@{
    ViewBag.Title = "Details";
}

<h2>Enrollment's Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                Session
            </th>
            <th>
                Day
            </th>
            <th>
                Time
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Instructor Name
            </th>
            <th>
                Cost
            </th>
        </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Course.Session.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Day)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Time)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Session.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Session.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Cost)
                </td>
            </tr>
    </table>
</div>
<p>
    <a href="/TeamComeback_V2/Registars/Index/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back</a>
    @Html.ActionLink(" ", "Edit", new { id = Model.RegistarID }, new { @class = "btn btn-warning fa fa-edit" })
