@model TeamComeback_V2.ViewModels.EnrollmentIndexViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Enrollments";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="/TeamComeback_V2/Registars/Create/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Enroll</a>
</p>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found")  @Model.Registars.TotalItemCount enrollments
</p>

@using (Html.BeginForm("Index", "Registars", FormMethod.Get))
{
    @Html.TextBox("Search", null, new { @placeholder = "Search Enrollment" }) <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <div class="right">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> @Html.DropDownList("Attendance", "All")
        <input type="submit" value="Filter" />
    </div>
    <input type="hidden" name="Search" id="Search" value="@Model.Search" />

}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Registars.First().Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registars.First().MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registars.First().Attendance)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Registars)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Session.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Session.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistarID }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
                @Html.ActionLink("Details", "Details", new { id = item.RegistarID }) <span class="glyphicon glyphicon-list" aria-hidden="true"></span> |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegistarID }) <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </td>
        </tr>
    }

</table>

<div>
    Page @(Model.Registars.PageCount < Model.Registars.PageNumber ? 0 :
        Model.Registars.PageNumber) of @Model.Registars.PageCount
        @Html.PagedListPager(Model.Registars, page => Url.Action("Index",
            new
                {

                  Search = @Model.Search,

    page
                }))
    </div>
