@model TeamComeback_V2.ViewModels.CourseIndexViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Course Offerings";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="/TeamComeback_V2/Courses/Create/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Course</a>
</p>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found")  @Model.Courses.TotalItemCount courses
</p>
@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
    @Html.TextBox("Search", null, new { @placeholder = "Search Course" }) <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <div class="right">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> @Html.DropDownList("Session", "All")
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> @Html.DropDownListFor(vm => vm.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "Default")
        <input type="submit" class="btn btn-sm btn-primary" value="Filter" />
    </div>
    <input type="hidden" name="Search" id="Search" value="@Model.Search" />

}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.First().Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.First().Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.First().InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.First().Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }) <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </td>
        </tr>
    }

</table>

<div>
    Page @(Model.Courses.PageCount < Model.Courses.PageNumber ? 0 :
        Model.Courses.PageNumber) of @Model.Courses.PageCount
        @Html.PagedListPager(Model.Courses, page => Url.Action("Index",
            new
                {
                    category = @Model.Session,
                  Search = @Model.Search,
                sortBy = @Model.SortBy,
    page
                }))
    </div>
    <table class="table table-striped">
        <tr>
            <th>Course Levels</th>
            <th>Descriptions</th>
        </tr>
        <tr>
            <td>Level 1 - L1</td>
            <td>Discussion and tasks are a conversational level with minimal support for word finding and organization. Class moves quickly.</td>
        </tr>
        <tr>
            <td>Level 2 - L2</td>
            <td>Discussion and tasks are at a single sentence level with moderate support for talking and listening. Class is moderately paced with occasional repetition.</td>
        </tr>
        <tr>
            <td>Level 3 - L3</td>
            <td>Discussion and tasks are at a single word level with significant support for talking and listening. Class moves at a slower pace with frequent repetition.</td>
        </tr>
        <tr>
            <td>Level 4 - L4</td>
            <td>Discussion and tasks encourage use of talking, pointing, drawing, and gesturing with maximal support. Class moves slowly with consistent repetition.</td>
        </tr>
        <tr>
            <td>All Levels - AL</td>
            <td>These groups accommodate members of all communication abilities.</td>
        </tr>
        <tr>
            <td>Fitness Group - GF</td>
            <td>These coures allow survivors and family members to work together on balance, strength and mobility</td>
        </tr>
    </table>
