@model TeamComeback_V2.Models.Session

@{
    ViewBag.Title = "Session's Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
    </dl>

</div>
<p>
    <a href="/TeamComeback_V2/Sessions/Index/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back</a> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></p>
