@model TeamComeback_V2.ViewModels.SessionsIndexViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Sessions";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="/TeamComeback_V2/Sessions/Create/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Session</a>
</p>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found")  @Model.Sessions.TotalItemCount sessions
</p>
@using (Html.BeginForm("Index", "Sessions", FormMethod.Get))
{
    <label>Search: </label>
    @Html.TextBox("Search", null, new { @placeholder = "..." })
    <input type="hidden" name="Search" id="Search" value="@Model.Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sessions.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sessions.First().DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sessions.First().DateEnd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Sessions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) <span class="glyphicon glyphicon-list" aria-hidden="true"></span> |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </td>
        </tr>
    }

</table>

<div>
    Page @(Model.Sessions.PageCount < Model.Sessions.PageNumber ? 0 :
        Model.Sessions.PageNumber) of @Model.Sessions.PageCount
        @Html.PagedListPager(Model.Sessions, page => Url.Action("Index",
            new
                {
                  Search = @Model.Search,
                  page
                }))
    </div>
