<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-0">
                    <a href="/TeamComeBack/"><img src="~/Content/images/logo.png" class="Logo" alt="logo"></a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-0">
                    <a href="/Home/Contact"><img src="~/Content/images/contact-us.png" class="right" alt="contact"></a>
                    <a href="https://strokecomebackcenter.org/programs/virtual-calendar/"><img src="~/Content/images/program-calendar.png" class="right" alt="calendar"></a>
                    <a href="https://strokecomebackcenter.org/donate-now/"><img src="~/Content/images/donate-now.png" class="right" alt="donate"></a>
                    <a href="https://www.facebook.com/StrokeComebackCenter"><img src="~/Content/images/facebook.png" class="socialMedia right" alt="facebook"></a>
                    <a href="https://www.instagram.com/strokecomeback/"><img src="~/Content/images/instagram.png" class="instagram right" alt="instagram"></a>
                    <a href="https://twitter.com/StrokeComeback"><img src="~/Content/images/twitter.png" class="socialMedia right" alt="twitter"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Team ComeBack", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Admin Action<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
                                <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now - Team ComeBack ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
