@model TeamComeback_V2.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Member's Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfLastStroke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfLastStroke)
        </dd>

    </dl>
    <h3>Current Enrollments: </h3>
    <table class="table table-striped">
        <tr>
            <th>
                Course Title
            </th>
            <th>
                Session
            </th>
            <th>
                Day
            </th>
            <th>
                Time
            </th>
            <th>
                Enrollment Date
            </th>
            <th>
                Attendance
            </th>
            <th>
                Cost
            </th>
        </tr>

        @foreach (var item in Model.Registars)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Session.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Cost)
        </td>
    </tr>
        }
    </table>
    <h3>Your Balance: $@Model.Registars.Sum(i => i.Course.Cost)</h3>
    <a href="https://stripe.com/" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Pay Now</a>
</div>
<br />
<p>
    <a href="/TeamComeback_V2/Members/Index/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back</a>
    @Html.ActionLink(" ", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning fa fa-edit" })
</p>
