@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="/TeamComeback_V2/RolesAdmin/Create/" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) <span class="glyphicon glyphicon-list" aria-hidden="true"></span> |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </td>
        </tr>
    }

</table>

